version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: wp_db
    restart: always
    env_file: .env
    volumes:
      - db_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

  wordpress:
    image: wordpress:latest
    container_name: wp_app
    depends_on:
      - db
    restart: always
    env_file: .env
    ports:
      - "8080:80"
    volumes:
      - wp_data:/var/www/html

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: wp_pma
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db

volumes:
  db_data:
  wp_data:

